[package]
name = "rebnk"
repository.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true
edition.workspace = true
keywords.workspace = true

[dependencies]
byteorder = "1.5.0"
thiserror = "2.0.12"
